<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Applications</title>
    <div th:replace="~{core/fragments/header :: common-header}"></div>
</head>
<body>
<div>
    <header th:replace="~{core/fragments/header-section :: header-section}"></header>
    <section class="vh-100">
        <nav id="sidebarMenu" class="d-md-block bg-light sidebar"
             th:replace="~{core/fragments/admin-sidebar ::admin-sidebar}"></nav>
        <div class="container-fluid">
            <div class="row">
                <main class="col" style="margin-left: 297px">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h5 class="h5">User Applications</h5>
                    </div>

                    <div class="container-fluid">
                        <div class="row row-margin-05">
                            <div class="col">
                                <form name="userList">
                                    <table id="tblForm" class="table rownum-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">SN</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Vendor</th>
                                            <th scope="col">Enable/Disable</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <tr th:if="${appMasterDtos != null}"
                                            th:each="appMaster : ${appMasterDtos}">
                                            <td th:data-app-master-id th:text="${appMaster.id}"></td>
                                            <td th:data-user-name th:text="${appMaster.name}"></td>
                                            <td th:data-vendor
                                                th:text="${appMaster.vendorName}"></td>

                                            <td>

                                                <div class="form-check form-switch form-switch-sm"
                                                     style="margin-top: 6px">
                                                    <input checked class="form-check-input enable-disable-app" data-on="on" data-off="off"
                                                           data-toggle="toggle" data-onstyle="success"
                                                           data-offstyle="danger"
                                                           style="background-color: white"
                                                           type="checkbox" th:checked="${appMaster.userStatus}"
                                                           th:data-app-id="${appMaster.uuid}"/>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
</div>

<div th:replace="~{core/fragments/confirmation-modal :: confirmation-modal}"></div>
<script th:replace="~{core/fragments/confirmation-modal :: modal-script}"></script>
<div th:replace="~{core/fragments/message-modal :: message-modal}"></div>
<script th:replace="~{core/fragments/message-modal :: message-modal-script}"></script>

<script th:inline="javascript">
    feather.replace()

    function toggleAppStatus() {
        $('.loader-overlay').removeClass('hidden');
        let $this = $(this).off("change", toggleAppStatus);

        let appId = $(this).data('app-id');
        let isActive = $(this).prop('checked');
        let csrfToken = document.querySelector('meta[name="_csrf"]') ?
            document.querySelector('meta[name="_csrf"]').content : '';
        let csrfHeader = document.querySelector('meta[name="_csrf_header"]') ?
            document.querySelector('meta[name="_csrf_header"]').content : '';
        let userId = [[${userId}]]
        let url = "/user/change/application/" + userId + "/" + appId + "/status"

        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            success: function(response) {
                $('.loader-overlay').addClass('hidden');
                console.log(response)
                if (isActive) {
                    flashMessage("成功", "アプリケーションは正常に有効になりました" , 0, null, 'info')
                } else {
                    flashMessage("成功", "アプリケーションは正常に無効になりました" , 0, null, 'info')
                }

                //Re-attach event
                $this.change(toggleAppStatus);
            },
            error: function() {
                $('.loader-overlay').addClass('hidden');
                if (isActive) {
                    flashMessage("有効化に失敗しました", "アプリケーションを有効にできませんでした" , 0);
                    $this.bootstrapToggle('off');
                } else {
                    flashMessage("無効化に失敗しました", "アプリケーションを無効にできませんでした" , 0);
                    $this.bootstrapToggle('on');
                }

                // Reset checkbox state if the request fails
                $('.enable-disable-app[data-app-id="' + appId + '"]').prop('checked', !isActive);

                //Re-attach event
                $this.change(toggleAppStatus);
            }
        });
    }

    $('.enable-disable-app').change(toggleAppStatus);

</script>

</body>
</html>