<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>User Details</title>
  <div th:replace="~{core/fragments/header :: common-header}"></div>

</head>
<body>

<div>
  <header th:replace="~{core/fragments/header-section :: header-section}"></header>
  <section class="vh-100">
    <nav id="sidebarMenu" class="d-md-block bg-light sidebar"
         th:replace="~{core/fragments/admin-sidebar ::admin-sidebar}"></nav>

    <div class="container-fluid">
      <div class="row">
        <main class="col" style="margin-left: 297px">
          <div class="container-fluid">
            <div class="row row-margin-05">
              <div class="col">
                <form name="userList">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h5 class="h5">USER DETAILS</h5>
                  </div>

                  <div class="flash-message" th:if="${messages}">
                    <ul th:each="message : ${messages}">
                      <li th:text="${message}" class="ui error message" />
                    </ul>
                  </div>
                  <div class="flash-message" th:if="${successMessage}">
                    <ul th:each="message : ${successMessage}">
                      <li th:text="${message}" class="ui success message" />
                    </ul>
                  </div>

                  <table cellpadding="10">
                    <tr>
                      <th>ID:</th>
                      <td th:text="${user.uuid}"></td>
                    </tr>
                    <tr>
                      <th>Name:</th>
                      <td th:text="${user.shortName}"></td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                      <th>Company:</th>
                      <td th:text="${user.companyName}"></td>
                    </tr>
                    <tr>
                      <th>Phone:</th>
                      <td th:text="${user.phone}"></td>
                    </tr>
                    <tr>
                      <th>Role:</th>
                      <td th:text="${user.role}"></td>
                    </tr>
                    <tr>
                      <th>Is Active:</th>
                      <td th:text="${user.isActive} ? 'Yes' : 'No'"></td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <a th:href="@{/user/{uuid}/edit(uuid=${user.uuid})}" class="btn btn-primary">Edit</a>
                      </td>
                    </tr>
                  </table>
                </form>

              </div>
            </div>

          </div>
        </main>
      </div>
    </div>
  </section>
</div>
<script>
  feather.replace()
  setTimeout(function() {
    $('.flash-message').hide();
  }, 5000);
</script>
</body>
</html>
