<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Logs</title>
  <div th:replace="~{core/fragments/header :: common-header}"></div>

</head>
<body>
<div>
  <header th:replace="~{core/fragments/header-section :: header-section}"></header>
  <section class="vh-100">
      <nav id="sidebarMenu" class="d-md-block bg-light sidebar" sec:authorize="hasRole('ROLE_ADMIN')"
           th:replace="~{core/fragments/admin-sidebar ::admin-sidebar}"></nav>
      <nav id="sidebarMenu" class="d-md-block bg-light sidebar" sec:authorize="not hasRole('ROLE_ADMIN')"
           th:replace="~{core/fragments/sidebar :: sidebar}"></nav>

    <h1> App Logs</h1>
    <br/>
    <br/>
  </section>
</div>

<script>
  feather.replace()
</script>
</body>
</html>