<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-template}"
>
<body>
<br/>
<br>
<br>
<br>

<div class="pagination" th:fragment="common-paginator">
    <span th:if="${pageData.hasPrevious()}">
     <a th:href="@{${pageUrl}(page=${pageData.previousPageable().pageNumber + 1})}">&lt;&lt; Previous</a>
   </span>

    <!-- Display start link if current page > 2 -->
    <span th:if="${pageData.number > 2}">
        <a th:href="@{${pageUrl}(page=1)}">Start</a>
    </span>

    <span th:each="pageNumber : ${#numbers.sequence(pageData.number - 1, pageData.number + 3)}" th:if="${pageNumber >= 1 and pageNumber <= pageData.totalPages}">
        <span th:if="${pageData.number + 1 == pageNumber}" th:text="${pageNumber}"></span>
        <span th:unless="${pageData.number + 1 == pageNumber}">
            <a th:href="@{${pageUrl}(page=${pageNumber})}" th:text="${pageNumber}"></a>
        </span>
    </span>

    <!-- Display end link if current page < totalPages - 3 -->
    <span th:if="${pageData.number < pageData.totalPages - 2}">
        <a th:href="@{${pageUrl}(page=${pageData.totalPages})}">End</a>
    </span>

    <span th:if="${pageData.hasNext()}">
        <a th:href="@{${pageUrl}(page=${pageData.nextPageable().pageNumber + 1})}">Next &gt;&gt;</a>
    </span>
</div>

</body>
</html>