<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clounect</title>
    <div th:replace="~{core/fragments/header :: common-header}"></div>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        ul li {
            text-decoration: none;
            list-style: none;
        }

        .nav-item > a, .nav-item > span {
            color: black;
        }

        .main-container {
            display: flex;
        }

        .container-fluid {
            flex: 2;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .btn.gray-button {
            background-color: grey;
        }
    </style>

    <div th:replace="~{core/fragments/header :: common-header}"></div>
</head>

<body>
<div>
    <div th:replace="~{core/fragments/loader :: common-loader}"></div>
    <header th:replace="~{core/fragments/header-section :: header-section}"></header>
    <section class="vh-100">
        <nav id="sidebarMenu" class="d-md-block bg-light sidebar"
             th:replace="~{core/fragments/sidebar :: sidebar}"></nav>
        <div class="container-fluid">
            <div class="row">
                <main class="col" style="margin-left: 297px">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h5 class="h5">Googleカレンダー連携ユーザー設定</h5>
                    </div>
                    <div class="container-fluid">
                        <div class="row row-margin-05">
                            <div class="col ">
                                <button id="btnAdd" type="button" class="btn btn-light"><span data-feather="plus"></span>&nbsp;行追加
                                </button>
                            </div>
                            <div class="col text-end">
                                <button id="btnSave" type="button" class="btn btn-primary" onclick="submitForm()"><span
                                        data-feather="database"></span>&nbsp;保存
                                </button>
                            </div>
                        </div>
                        <div class="row row-margin-05">
                            <div class="col">
                                <form name="userList" id="userListForm">
                                    <table id="tblForm" class="table rownum-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">お名前</th>
                                            <th scope="col">JUST.SFAユーザーID</th>
                                            <th scope="col">Googleメールアドレス</th>
                                            <th scope="col">テスト</th>
                                            <th scope="col">連携</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <br/>
                    </div>
                </main>
            </div>
        </div>
    </section>
</div>

<br/>
<br/>
<div th:replace="~{core/fragments/confirmation-modal :: confirmation-modal}"></div>
<script th:replace="~{core/fragments/confirmation-modal :: modal-script}"></script>
<div th:replace="~{core/fragments/message-modal :: message-modal}"></div>
<script th:replace="~{core/fragments/message-modal :: message-modal-script}"></script>
<div th:replace="~{core/fragments/loader :: common-loader}"></div>
<script>
    const csrfToken = document.querySelector('meta[name="_csrf"]') ?
        document.querySelector('meta[name="_csrf"]').content : '';
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]') ?
        document.querySelector('meta[name="_csrf_header"]').content : '';
    const tableBody = document.querySelector("#tblForm tbody");

    document.addEventListener("DOMContentLoaded", function () {
        tableBody.addEventListener("click", handleButtonClick);
        document.getElementById("btnAdd").addEventListener("click", onAddClick);
        fetchAndPopulateUserData();
    });

    function onAddClick() {
        const newRow = createRow({username: '', justSfaUserId: '', googleEmail: '', linkable: false});
        tableBody.appendChild(newRow);
        attachEventListenersToRow(newRow);
    }

    function attachEventListenersToRow(row) {
        row.querySelector(".testbtn").addEventListener("click", function (event) {
            validateEmail(event.target);
        });

        row.querySelector(".btnDelete").addEventListener("click", function (event) {
            removeUserRow(event.target);
        });
    }

    function handleButtonClick(event) {
        const target = event.target;

        if (target.classList.contains("testbtn")) {
            validateEmail(target);
        } else if (target.classList.contains("btnDelete")) {
            removeUserRow(target);
        }
    }

    function validateEmail(button) {
        const row = button.closest('tr');
        const email = row.querySelector('.googleac-input').value;

        button.style.backgroundColor = 'gray';

        const parameter = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken,
            },
            body: JSON.stringify({
                email: email
            })
        };

        fetch('/google/validate-email', parameter)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                handleValidationColor(data.success, button);
                row.querySelector('.validate-email-flag').value = data.success;
            })
            .catch(error => {
                console.error('Error:', error);
                handleValidationColor(false, button);
                row.querySelector('.validate-email-flag').value = false;
            });
    }

    function handleValidationColor(success, button) {
        button.style.backgroundColor = 'gray';

        if (success) {
            button.style.backgroundColor = 'green';
        }
    }

    function submitForm() {
        const userData = [];

        for (const row of tableBody.querySelectorAll("tr:not([style*='display: none'])")) {
            const usernameInput = row.querySelector(".username-input");
            const justSfaUserIdInput = row.querySelector(".justuser-input");
            const googleEmailInput = row.querySelector(".googleac-input");
            const linkableCheckbox = row.querySelector(".linkable-check");
            const validateFlagInput = row.querySelector('.validate-email-flag');

            const username = usernameInput?.value.trim() || '';
            const justSfaUserId = justSfaUserIdInput?.value.trim() || '';
            const googleEmail = googleEmailInput?.value.trim() || '';
            const linkable = linkableCheckbox?.checked || false;
            const validateEmailFlag = validateFlagInput.value === "true";

            console.log("Username:", username);
            console.log("JustSfaUserId:", justSfaUserId);
            console.log("GoogleEmail:", googleEmail);
            console.log("Linkable:", linkable);
            console.log("ValidateEmailFlag:", validateEmailFlag);

            if (!username) {
                flashMessage('Please fill in the "お名前" field.');
                return;
            }
            if (!justSfaUserId && justSfaUserId !== '') {
                flashMessage('Please fill in the "JUST.SFAユーザーID" field.');
                return;
            }
            if (!googleEmail) {
                flashMessage('Please fill in the "Googleメールアドレス" field.');
                return;
            }

            userData.push({
                username: username,
                justSfaUserId: justSfaUserId,
                googleEmail: googleEmail,
                linkable: linkable,
                validateEmailFlag: validateEmailFlag
            });
        }
        let headers = {
            'Content-Type': 'application/json',
        };
        if (csrfHeader) {
            headers[csrfHeader] = csrfToken;
        }

        fetch('/google/add-user', {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(userData)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function fetchAndPopulateUserData() {
        fetch('/google/get-users')
            .then(response => response.json())
            .then(data => {
                updateTableWithData(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function updateTableWithData(userData) {
        tableBody.innerHTML = "";

        if (userData && userData.length > 0) {
            userData.forEach(user => {
                const row = createRow(user);
                tableBody.appendChild(row);
            });
        } else {
            const newRow = createRow({username: '', justSfaUserId: '', googleEmail: '', linkable: false});
            tableBody.appendChild(newRow);
        }
    }

    function createRow(user, isFetched) {
        const row = document.createElement("tr");

        row.innerHTML = `
        <td><input type="text" class="form-control username-input" value="${user.username}"></td>
        <td><input type="text" class="form-control justuser-input" value="${user.justSfaUserId}"></td>
        <td><input type="text" class="form-control googleac-input" value="${user.googleEmail}"></td>
        <td>
            <button type="button" class="btn btn-success testbtn gray-button" name="btnTest[]">
                <span data-feather="check-square"></span>
                <span>OK(再テスト)</span>
            </button>
            <input type="hidden" class="validate-email-flag" value="${user.validateEmailFlag || 'false'}">
        </td>
        <td>
            <div class="form-check form-switch form-switch-lg">
                <input class="form-check-input linkable-check" type="checkbox" ${user.linkable ? 'disabled' : ''}>
                <label class="form-check-label linkable-check"></label>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-danger btnDelete">
                <span data-feather="trash-2"></span>
                <span>Delete</span>
            </button>
        </td>
    `;

        const emailInput = row.querySelector('.googleac-input');
        const validateEmailFlagInput = row.querySelector('.validate-email-flag');
        const button = row.querySelector('.testbtn');
        const linkableCheckbox = row.querySelector('.linkable-check');

        handleValidationColor(validateEmailFlagInput.value === "true", button);

        if (!isFetched) {
            row.style.backgroundColor = 'white';
        }

        linkableCheckbox.addEventListener('change', function () {
            const isLinkable = linkableCheckbox.checked;

            row.querySelectorAll('input, button').forEach(element => {
                element.disabled = isLinkable;
            });
        });

        emailInput.addEventListener('input', function () {
            button.style.backgroundColor = 'gray';
            validateEmailFlagInput.value = 'false';
        });

        return row;
    }
    function removeUserRow(button) {
        const row = button.closest("tr");
        const username = row.querySelector('.username-input').value;
        const confirmation = confirm(`Are you sure you want to delete the user "${username}"?`);
        if (confirmation) {
            row.remove();
            submitForm();
            alert(`User "${username}" has been successfully deleted.`);
        } else {
            alert(`Deletion of user "${username}" has been canceled.`);
        }
    }
</script>
<script>
    feather.replace();
</script>

</body>
</html>