<!-- src/main/resources/templates/appMasterForm.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/appMaster.css">
    <title>Edit App Master</title>
    <div th:replace="~{core/fragments/header :: common-header}"></div>
</head>
<body>
<header th:replace="~{core/fragments/header-section :: header-section}"></header>
<section class="vh-100">
    <nav id="sidebarMenu" class="d-md-block bg-light sidebar"
         th:replace="~{core/fragments/admin-sidebar ::admin-sidebar}"></nav>

    <div class="container-fluid">
        <div class="row">
            <main class="col" style="margin-left: 297px">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h5>Edit App Master</h5>
                        <div>
                            <a class="btn btn-dark" th:href="@{/app-master}">戻る</a>
                        </div>
                    </div>
                    <div class="flash-message has-error" th:if="${messages}">
                        <ul th:each="message : ${messages}">
                            <li th:text="${message}" class="ui error message" />
                        </ul>
                    </div>
                    <form id="app-master-form" th:action="@{/app-master/{uuid}(uuid=${appMasterDto.uuid})}" th:method="post" th:object="${appMasterDto}">
                        <input type="hidden" th:field="${appMasterDto.id}"/>

                        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" th:field="*{name}"
                                   class="form-control" required/>
                            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
                            <label for="description">Description:</label>
                            <textarea id="description" name="description" th:field="*{description}"
                                      class="form-control" required></textarea>
                            <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('vendorName')} ? 'has-error' : ''">
                            <label for="vendor">Vendor Name:</label>
                            <input type="text" id="vendor" name="vendor" th:field="*{vendorName}"
                                   class="form-control" required/>
                            <div class="error" th:if="${#fields.hasErrors('vendorName')}" th:errors="*{vendorName}"></div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('moduleName')} ? 'has-error' : ''">
                            <label for="module-name">Module Name:</label>
                            <input type="text" id="module-name" name="module-name" th:field="*{moduleName}"
                                   class="form-control" required/>
                            <div class="error" th:if="${#fields.hasErrors('moduleName')}" th:errors="*{moduleName}"></div>
                        </div>

                        <div class="pb-2 pt-2">
                            <button class="btn btn-primary" type="button" th:text="Update" onclick="openConfirmationModal()"></button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</section>
<div th:replace="~{core/fragments/confirmation-modal :: confirmation-modal}"></div>
<script th:replace="~{core/fragments/confirmation-modal :: modal-script}"></script>
<div th:replace="~{core/fragments/message-modal :: message-modal}"></div>
<script th:replace="~{core/fragments/message-modal :: message-modal-script}"></script>

<script>
    feather.replace();

    function validateForm() {
        let name = $('#name').val().trim();
        let message = "";
        if(!name) {
            message += "名前フィールドは必須です。<br/>";
        }

        let desc = $('#description').val().trim();
        if(!desc) {
            message += "説明は必須です。<br/>";
        }

        let vendor = $('#vendor').val().trim();
        if(!vendor) {
            message += "ヴェンディスが必要です。<br/>";
        }

        let modName = $('#module-name').val().trim();
        if(!modName) {
            message += "モジュール名は必須です。<br/>";
        }
        if(message) {
            flashMessage("検証に失敗しました", message , 0);
            return false;
        }
        return true;
    }

    function submitForm() {
        if(!validateForm()) {
            return;
        }

        // Proceed with the form submission
        document.getElementById('app-master-form').submit();
    }

    function openConfirmationModal() {
        openModal("アップデートの確認", "アプリ情報を保存します。 大丈夫ですか？ <br/>", submitForm)
    }

</script>
</body>
</html>
